.about .row:nth-child(odd) {
    background-color: #F1FDF7;
}

/******************************** 
Components
********************************/

/* Stay up to date component */

.about .stayUpToDate-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .stayUpToDate-tile {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: .32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

/* Since Component  */

.about .since-content {
    flex: 1 1;
}

.about .since-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.about .since-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
}

.about .since-item {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0;
}

.about .since-item-description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

/* Component: Our Principles  */

.about .ourPrinciples-container {
    padding: 20px 0;
    font-style: normal;
    color: #212121;
    border-top: 2px solid #8F8F8F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .ourPrinciples-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    flex: .30;
}

.about .ourPrinciples-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    flex: .60;
}

/********************************
Images 
********************************/

.about .people-holding-trash-image-wrapper {
    display: flex;
    align-items: flex-end;
    flex: .33;
    position: relative;
}

.about .people-holding-trash-svg {
    position: absolute;
    bottom: -105px;
    z-index: -9999;
}

.about .instagram-updates-img {
    width: 100%;
}

/******************************** 
Inputs
********************************/

.about .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

/********************************
 Cards
********************************/

/* Mobile First */
.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-wrapper .card {
    flex: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 5%;
}