/******************************** 
Components
********************************/

/* The Neighborhood */

.about #the-neighborhood {
    background-color: #F1FDF7;
    padding-top: 50px;
}

.about #the-neighborhood .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
}

.about #the-neighborhood .home-passing-boxes-img {
    padding: 30px;
}

.about #the-neighborhood .btn-wrapper {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-gap: 1em;
}

@media screen and (min-width: 768px) {
    .about #the-neighborhood .btn-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset !important;
    }    
}

.about #the-neighborhood .btn-wrapper a.button-link {
    background-color: #009E78;
    line-height: 40px;
}

.about #the-neighborhood .btn-wrapper {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-gap: 16px;
}

.about #the-neighborhood .btn-wrapper a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.about #the-neighborhood .small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 40px 0;
}

/* Where We Act */

.about #where-we-act .row-container {
    display: grid;
}

.about #where-we-act .header1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.about #where-we-act p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.about #where-we-act .split-col-img {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .about #where-we-act .row-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
    }
    .about #where-we-act .split-col-img {
        width: 100%;
    }
}




/* Since Component  */

.about .since .row-container {
    display: grid;
    justify-content: center;
    row-gap: 30px;
}

.about .since .since-items-wrapper {
    text-align: center;
    display: grid;
    row-gap: 40px;
    margin-top: 60px;
    justify-content: center;
    grid-template-columns: 80%;
}

.about .since .since-items-wrapper .since-item {
    display: grid;
    row-gap: 5px;
}

.about .since .since-items-wrapper .since-item .since-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.about .since .since-items-wrapper .since-item .since-item-description {
    font-size: 16px;
    line-height: 26px;
}

.about .since img.people-holding-trash-svg {
    width: 250px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .about .since .row-container {
        grid-template-columns: 70%;
        justify-content: left;
    }

    .about .since .since-items-wrapper {
        text-align: left;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
    }

    .about .since .people-holding-trash-svg {
        display: none;
    }
}

/* Component: Our Principles  */

/**********************************
.about .ourPrinciples-container {
    padding: 20px 0;
    font-style: normal;
    color: #212121;
    border-top: 2px solid #8F8F8F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--font-size-responsive);
    line-height: 28px;
}
.about .ourPrinciples-name {
    font-weight: bold;
    text-transform: capitalize;
    flex: .30;
}
.about .ourPrinciples-description {
    flex: .60;
}
**********************************/

/* Stay up to date component */

.about .stay-up-to-date {
    background-color: #F1FDF7;
    padding-bottom: 90px;
}

.about .stay-up-to-date .title {
    padding: 40px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.about .stayUpToDate-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/********************************
 Cards
********************************/

/* Mobile First */

.cards-wrapper {
    display: grid;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
}

.cards-wrapper .card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 35px 61px;
    display: grid;
    align-items: center;
    text-align: center;
    height: 220px;
    width: 100%;
}

/* Desktop */

@media screen and (min-width: 768px) {
    .cards-wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
    }
}


/* Instagram Updates */

.instagram-updates {
    margin: 60px 0 0 0;
}

.instagram-updates .title {
    padding-bottom: 20px;
}

.instagram-updates .text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.iframe-container {
    overflow-y: scroll;
    width: 100%;
}

.instagram-updates #instagram-iframe {
    border: none;
    
}
