.donate-font-color {
    color: #F36A1D;
}
.donate-background-color {
    background-color: #FFF6F0;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 20px 0;
}



