/****************************
 Get Help
****************************/

.get-help .font-color-primary {
    color: #432BFA;
}

.get-help .jumbo-title {
    background-color: var(--background-get-help);
    color: var(--font-color-get-help);
}

.get-help section.submit-a-request .group-1 .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.get-help section.submit-a-request .group-1 .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.get-help a.button-link.button-request-help {
    line-height: 40px;
    margin: 10px 0;
}

.get-help .text-box {
    margin: 40px 0;
    padding: 40px;
}

.get-help .other-resources .header1, .get-help .other-resources .header2 {
    padding: 20px 0;
}

.get-help .other-resources p {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (min-width: 768px) {
    .get-help .other-resources {
        width: 66%;
    }
    .get-help .button-request-help {
        width: 50%;
    }
}