.give-help .jumbo-title {
    background-color: var(--background-give-help);
    color: var(--font-color-give-help);
}
.give-help .helpful-resources {
    font-weight: bold;
    width: 66%;
}

.give-help .helpful-resources > .header1 {
    margin-bottom: calc(10px + (60 - 10) * ((100vw - 300px) / (1440 - 300)));
}
.give-help .help-us-spread {
    margin-bottom: calc(20px + (100 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.give-help .help.grid-row {
    row-gap: calc(20px + (120 - 20) * ((100vw - 300px) / (1600 - 300)));
}



/* Colors */
.give-help > .page-row:nth-of-type(odd) {
    background-color: var(--background-give-help);
}

.give-help .font-color-primary {
    color: var(--font-color-give-help);
}

.stats-graphic {
    /* margin-top: 10%; */
    position: absolute;
    right: 0;
    top: 2em;
    z-index: -9999;
}

/* Fancy List */

.fancy-list-wrapper > .header1 {
    margin-bottom: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.fancy-list-container {
    padding: 1rem 0;
    font-style: normal;
    color: #212121;
    border-top: 2px solid #DBDBDB;
    display: grid;
    grid-template-columns: 3rem auto;
}

/* Grid Row */

.grid-row {
    display: grid;
    grid-template-columns: auto minmax(1em, auto) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(1em, auto) auto;
}

.grid-row>.grid-row-span-center {
    grid-column: 3/8;
}

.grid-row>.grid-row-span-66 {
    grid-column: 3/6;
}

.grid-row>.grid-row-span-left {
    grid-column: 3/5;
} 

.grid-row-split { 
    display: grid;
    column-gap: minmax(auto, 100px);
    grid-template-columns: minmax(auto, 1fr) minmax(1em, 1fr);
}

/* Grid List */

.grid-list {
    display: grid;
    grid-template-columns: 3fr 10fr;
    column-gap: 3em;
    row-gap: 2em;
    justify-items: start;
}
.grid-list>.grid-list-key {
    grid-column: 1/2;
}
.grid-list>.grid-list-value {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;
    grid-column: 2/3;
}

/*****************************
 Media Queries
*****************************/

@media screen and (max-width: 768px) {
    .give-help .helpful-resources {
        width: 100%;
    }
}