/* Colors */

.give-help>.page-row:nth-of-type(odd) {
    background-color: var(--background-give-help);
}

.give-help .font-color-primary {
    color: var(--font-color-give-help);
}

/* jumbo title */

.give-help .jumbo-title {
    background-color: var(--background-give-help);
    color: var(--font-color-give-help);
}

/* help */

.give-help .help .pulling-boxes-img {
    padding-top: 2em;
}

.give-help .help .content-wrapper>div:not(:last-child) {
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300)));
}

.give-help .help.grid-row {
    row-gap: calc(20px + (120 - 20) * ((100vw - 300px) / (1600 - 300)));
}

/* helpful resources */

.give-help .helpful-resources {
    font-weight: bold;
    width: 80%;
}

.give-help .helpful-resources>.header1 {
    margin-bottom: calc(10px + (60 - 10) * ((100vw - 300px) / (1440 - 300)));
}

/* help us spread */

.give-help .help-us-spread {
    margin-bottom: calc(20px + (100 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.stats-graphic {
    /* margin-top: 10%; */
    position: absolute;
    right: 0;
    top: 2em;
    z-index: -9999;
}

/* Fancy List */

.fancy-list-wrapper > .header1 {
    margin-bottom: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.fancy-list-container {
    padding: 1rem 0;
    font-style: normal;
    color: #212121;
    border-top: 2px solid #DBDBDB;
    display: grid;
    grid-template-columns: 3rem auto;
}

/* Grid List */

.grid-list {
    display: grid;
    grid-template-columns: 3fr 10fr;
    column-gap: 3em;
    row-gap: 2em;
    justify-items: start;
}

.grid-list>.grid-list-key {
    grid-column: 1/2;
}

.grid-list>.grid-list-value {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;
    grid-column: 2/3;
}

/*****************************
 Media Queries
*****************************/

@media screen and (max-width: 768px) {
    .give-help .helpful-resources {
        width: 100%;
    }
    .give-help .help .pulling-boxes-img {
        display: none;
    }
    .give-help .help .content-wrapper {
        grid-column: 3/8;
        row-gap: calc(100px + (50 - 100) * ((100vw - (var(--page-min-width) * 1px)) / (var(--page-max-width) - var(--page-min-width))));
    }
}