.give-help>.page-row:nth-of-type(odd) {
    background-color: var(--background-give-help);
}

.give-help .font-color-primary {
    color: var(--font-color-give-help);
}

/* jumbo title */

.give-help .jumbo-title {
    background-color: var(--background-give-help);
    color: var(--font-color-give-help);
}

/***************************
two-in-one
***************************/
.give-help .two-in-one .row-container {
    display: grid;
    row-gap: 50px;
}

.give-help .two-in-one .text-group ul {
    margin-left: -1em;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.give-help .two-in-one .row-container > img {
    width: 250px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .give-help .two-in-one .row-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

/************************
Help
*************************/

.give-help .help .fancy-list-wrapper .header1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

/************************** 
Stats 
**************************/

.give-help .stats {
    background-color: var(--background-give-help);
}

.give-help .give-help-stats {
    display: grid;
    row-gap: 40px;
    text-align: center;
    grid-template-columns: 1fr;
}

.give-help .give-help-stats .tile {
    display: grid;
    row-gap: 5px;
}

@media screen and (min-width: 768px) {
    .give-help .give-help-stats {
        grid-template-columns: repeat(4, 218px);
        justify-content: space-between;
        padding: 0 25px;
    }
}

/* Helpful Resources/Spread */

.give-help .helpful-resources-spread {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Help Us Spread */

.give-help .helpful-resources-spread .help-us-spread .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.give-help .helpful-resources-spread .help-us-spread .content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.give-help .helpful-resources-spread .help-us-spread .text-group-content .download-link {
    font-weight: bold;
    text-decoration: underline;
}

/* Helpful Resources */

.give-help .helpful-resources {
    display: grid;
    row-gap: 20px;
    margin-top: 50px;
}

.give-help .helpful-resources .helpful-resources-content {

}

.give-help .helpful-resources .header1 {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}

.give-help .helpful-resources .resource-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    padding: 40px 0 20px 0;
}

.give-help .helpful-resources .resource-links {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-decoration-line: underline;
    display: grid;
    row-gap: 20px;
}



/* Grid List */

.grid-list {
    display: grid;
    grid-template-columns: 3fr 10fr;
    column-gap: 3em;
    row-gap: 2em;
    justify-items: start;
}

.grid-list>.grid-list-key {
    grid-column: 1/2;
}

.grid-list>.grid-list-value {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;
    grid-column: 2/3;
}

/*****************************
 Media Queries
*****************************/

@media screen and (min-width: 768px) {
    .give-help .helpful-resources {
        font-weight: bold;
        width: 80%;
    }
    .give-help .help .pulling-boxes-img {
        padding-top: 2em;
        display: block;
    }
    .give-help .help .content-wrapper {
        grid-column: 3/6;
    }
}