.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/************************
 Font
************************/

/* font-size: 34px */
.header1 {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-responsive-h1);
    /* font-size: 34px; */
    line-height: 41px;
}

/* font-size: 24px */
.header2 {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-responsive-h2);
    line-height: 28px;
    text-transform: capitalize;
}

/* font-size: 18px */
.standard-text {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-responsive);
    line-height: 28px;
}

/* font-size: 18px */
.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-responsive-small);
    line-height: 28px;
}

/* Font Emphasis */

.bold {
    font-weight: bold;
}

.text-important {
    font-weight: bold;
    text-decoration: underline;
}


/************************
Buttons
************************/
a.button-link {
    display: inline-block;
    flex: 1;
    margin: 2px;
    padding: 9px 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 100px;

    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

a.button-link::after {
    content: url(../../assets/icons/chevron.svg);
    margin-left: 10px;
    position: absolute;
    transition: margin-left 250ms ease-in-out;
}

a.button-link:hover::after {
    margin-left: 15px;
}


/***************************** 
Rows
*****************************/

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 2em;
}

.row-container {
    width: 100%;
    max-width: 940px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .text-box {
        padding: 48px 40px 40px 40px;
    }
}

/***************************** 
Flex
*****************************/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/***************************** 
Text Group
*****************************/

.text-group {
    display: flex;
    flex-direction: column;
}

.text-group.y-center {
    justify-content: center;
}
.text-group.padded {
    padding: 40px 0 0 0;
}

/***************************** 
Text Box
*****************************/

.text-box {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 18px 10px 10px 10px;
}

.text-box.y-space-evenly {
    justify-content: space-evenly;
}

.text-box.y-space-between {
    justify-content: space-between;
}

.text-box .title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: capitalize;
}

.text-box .list {
    padding-left: 1.5em;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.text-box a {
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .text-box {
        padding: 48px 40px 40px 40px;
    }
}




/***************************** 
Tiles 
*****************************/

.tiles-container {
    display: flex;
    flex-direction: space-between;
}

.tiles-container>.tile {
    width: 100%;
    text-align: center;
}

/* Polygons */

.polygon {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-top {
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-bottom {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
}

/***************************** 
Split
*****************************/

.split-wrapper {
    grid-template-columns: repeat(1, 100%);
}

@media screen and (min-width: 768px) {
    .split-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: calc(10px + (100 - 10) * ((100vw - 768px) / (1600 - 300)));
    }
}

.split-wrapper>.split-col {
    display: flex;
    flex-direction: column;
}

.split-wrapper>.split-col>.split-col-img {
    width: 100%;
}

.split-wrapper>.split-col.y-center {
    justify-content: center;
}

/***************************** 
Other
*****************************/

.jumbo-title {
    padding: 3em 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    width: 100%;
}

/*************************
 Polygon Page
*************************/

.polygon-page .row:nth-child(odd) {
    background-color: #F1FDF7;
}

.polygon-page .row:not(:first-child):not(:last-child) {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% calc(100% - 10px), 0% 100%);
    margin: -10px 0;
}

.polygon-page .row:first-child {
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10px), 0% 100%);
}

.polygon-page .row:last-child {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% 100%, 0% 100%);
}