.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/***************************** 
Rows
*****************************/

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 calc(10px + (10 - 10) * ((100vw - 300px) / (1600 - 300)))
}

.row:nth-child(odd) {
    background-color: #F1FDF7;
}

.row:not(:first-child):not(:last-child) {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% calc(100% - 10px), 0% 100%);
    margin: -10px 0;
}

.row:first-child {
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10px), 0% 100%);
}

.row:last-child {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% 100%, 0% 100%);
}

.row-container {
    width: 100%;
    max-width: 940px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.row-container > .section {
    flex: 1 1 48%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section > .section-content {
    min-width: 200px;
    width: 100%;
    max-width: 380px;
    flex-direction: column;
}

.section-image {
    width: 100%;
    min-width: 200px;
}

/***************************** 
Flex
*****************************/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: space-between;
}



/***************************** 
General
*****************************/

.title {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #212121;
}

/* Polygons */

.polygon {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-top {
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-bottom {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
}