.content {
    flex: 1;
}

/*****************************************
 Elements
*****************************************/

a.inline-link {
    text-decoration: none;
}

a.inline-link:visited {
    text-decoration: none;
    color: inherit;
}

a.inline-link:hover {
    text-decoration: none;
    color: inherit;
}

a.inline-link:focus {
    text-decoration: none;
    color: inherit;
}

a.inline-link:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/*********************
 Page
*********************/

.page {
    display: grid;
    row-gap: 60px;
}

.page>section {
    padding: 60px 30px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.page>section:last-child {
    padding-bottom: 40px;
}

.page>section.jumbo-title {
    padding-top: 180px;
    padding-bottom: 134px;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

/*******************************
Hero
********************************/

.page section.hero {
    padding-top: 180px !important;
    padding-bottom: 100px;
}

.page section.hero .title {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
}

/***************************** 
Rows
*****************************/

.row {
    flex: 1;
    display: flex;
    justify-content: center;
}

.row-container {
    width: 100%;
    max-width: 940px;
}

@media screen and (min-width: 768px) {
    .text-box {
        padding: 48px 40px 40px 40px;
    }
}

/*********************
 Grid Row
*********************/

.grid-row {
    display: grid;
    grid-template-columns: auto minmax(1em, auto) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(auto, 188px) minmax(1em, auto) auto;
}

.grid-row>.grid-row-span-center {
    grid-column: 3/8;
}

.grid-row>.grid-row-span-66 {
    grid-column: 3/6;
}

.grid-row>.grid-row-span-left {
    grid-column: 3/5;
}

.grid-row-split {
    display: grid;
    column-gap: minmax(auto, 100px);
    grid-template-columns: minmax(auto, 1fr) minmax(1em, 1fr);
}

/* Fancy List */

.fancy-list-wrapper>.header1 {
    margin-bottom: 30px;
}

.fancy-list-wrapper>.fancy-list {
    margin: 13px 0;
}

.fancy-list-container {
    padding: 1.5rem 0;
    font-style: normal;
    color: #212121;
    border-top: 2px solid #DBDBDB;
    display: grid;
    grid-template-columns: 3rem auto;
}

/************************
 Font
************************/

/* font-size: 34px */

.header1 {
    font-style: normal;
    font-weight: bold;
    /* font-size: 34px; */
    font-size: var(--font-size-responsive-h1);
    line-height: 41px;
}

/* font-size: 24px */

.header2 {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-responsive-h2);
    line-height: 28px;
}

.header2-light {
    font-style: normal;
    font-size: var(--font-size-responsive-h2);
    line-height: 28px;
}

/* font-size: 18px */

.standard-text {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-responsive);
    line-height: 28px;
}

/* font-size: 18px */

.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-responsive-small);
    line-height: 28px;
}

/* Font Emphasis */

.bold {
    font-weight: bold;
}

.text-important {
    font-weight: bold;
    text-decoration: underline;
}

/************************
Buttons
************************/

.btn-wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 16px;
}

@media screen and (min-width: 768px) {
    .btn-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset !important;
    }
}

a.button-link {
    padding: 1.25em;
    padding-right: 2.25em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

a.button-link::after {
    content: url(../../assets/icons/chevron.svg);
    margin-left: 10px;
    position: absolute;
    transition: margin-left 250ms ease-in-out;
}

a.button-link:hover::after {
    margin-left: 1em;
}

@media screen and (min-width: 768px) {
    a.button-link {
        padding-top: .5em;
        padding-bottom: .5em;
    }
}

/***************************** 
Flex
*****************************/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/***************************** 
Text Group
*****************************/

.text-group {
    display: flex;
    flex-direction: column;
}

.text-group.y-center {
    justify-content: center;
}

.text-group.padded {
    padding: 40px 0 0 0;
}

/***************************** 
Text Box
*****************************/

.text-box {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 18px 10px 10px 10px;
}

.text-box.y-space-evenly {
    justify-content: space-evenly;
}

.text-box.y-space-between {
    justify-content: space-between;
}

.text-box .title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: capitalize;
}

.text-box .list {
    padding-left: 1.5em;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.text-box a {
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .text-box {
        padding: 48px 40px 40px 40px;
    }
}

/***************************** 
Tiles 
*****************************/

.tiles-container {
    text-align: center;
    display: grid;
    column-gap: 1em;
}

@media screen and (min-width: 480px) {
    .tiles-container {
        grid-template-columns: repeat( auto-fit, minmax(10px, 1fr));
    }
}

/* Polygons */

.polygon {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-top {
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-bottom {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
}

/***************************** 
Split
*****************************/

.split-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
    row-gap: 30px;
}

.split-wrapper>img, div {
    width: 100%;
}

.split-wrapper>img.align-right {
    width: 215px;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .split-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: calc(10px + (100 - 10) * ((100vw - 768px) / (1600 - 300))); */
        column-gap: 99px;
    }
    .split-wrapper>img.align-right {
        width: 215px;
        margin-left: auto;
    }
}

/***************************** 
Other
*****************************/

.jumbo-title {
    padding-top: 100px;
    padding-bottom: 3em;
    font-style: normal;
    font-weight: bold;
    font-size: calc(33px + (40 - 33) * ((100vw - (var(--page-min-width) * 1px)) / (var(--page-max-width) - var(--page-min-width))));
    line-height: 44px;
    text-align: center;
    width: 100%;
}

/*************************
 Polygon Page
*************************/

.polygon-page .row:not(:first-child):not(:last-child) {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% calc(100% - 10px), 0% 100%);
    margin: -10px 0;
}

.polygon-page .row:first-child {
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10px), 0% 100%);
}

.polygon-page .row:last-child {
    clip-path: polygon(0 calc(0% + 10px), 100% 0%, 100% 100%, 0% 100%);
}