.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/***************************** 
Rows
*****************************/

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 2em;
}

.row.jumbo-title {
    padding: 3em 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

.row-container {
    width: 100%;
    max-width: 940px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.row-container>.section {
    flex: 1 1 calc(450px - 1em);
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: calc(450px - 1em);
}

.row-container>.section.y-center {
    align-items: center;
}

.section>.section-content {
    min-width: 200px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    max-width: 460px;
}

.section.align-items-flex-start {
    align-items: flex-start;
}

.section-image {
    width: 100%;
    min-width: 200px;
}

/***************************** 
Flex
*****************************/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/***************************** 
Text Group
*****************************/

.text-group {
    display: flex;
    flex-direction: column;
}

.text-group.y-center {
    justify-content: center;
}
.text-group.padded {
    padding: 40px 0 0 0;
}

/***************************** 
Text Box
*****************************/

.text-box {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 48px 40px 40px 40px;
}

.text-box.y-space-evenly {
    justify-content: space-evenly;
}

.text-box.y-space-between {
    justify-content: space-between;
}

.text-box .title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: capitalize;
}

.text-box .list {
    padding-left: 1.5em;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

/* Bold */

.bold {
    font-weight: bold;
}


/* font-size: 34px */

.header1, .text-group h1, .text-group .header1 {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-responsive-h1);
    /* font-size: 34px; */
    line-height: 41px;
}

/* font-size: 24px */

.header2, .text-group h2 {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-responsive-h2);
    line-height: 28px;
    text-transform: capitalize;
}

/* font-size: 18px */

.standard-text, .text-group p, .text-group ul {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-responsive);
    line-height: 28px;
}

/***************************** 
Pages
*****************************/

.title {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #212121;
}

.text-important {
    font-weight: bold;
    text-decoration: underline;
}

/***************************** 
Tiles 
*****************************/

.tiles-container {
    display: flex;
    flex-direction: space-between;
}

.tiles-container>.tile {
    width: 100%;
    text-align: center;
}

/* Polygons */

.polygon {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-top {
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0% 100%);
}

.polygon-bottom {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
}

/***************************** 
Split
*****************************/

.split-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(10px + (100 - 10) * ((100vw - 768px) / (1600 - 300)));
}

@media screen and (max-width: 768px) {
    .split-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.split-wrapper>.split-col {
    display: flex;
    flex-direction: column;
}

.split-wrapper>.split-col>.split-col-img {
    width: 100%;
}

.split-wrapper>.split-col.y-center {
    justify-content: center;
}