/* Footer */
.footer {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    border-top: 1px solid #DBDBDB;
    line-height: 28px;
    font-size: var(--font-size-responsive-small);
}

.footer .content-wrapper {
    margin: 40px 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .content-wrapper .stay-connected {
    flex: 1 0 50%;
    font-weight: bold;
    font-size: var(--font-size-responsive);
    font-weight: 600;
}

.footer .content-wrapper .contact-info {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .title {
    margin-bottom: 7px;
}

.footer .contact-info .section {
    white-space: nowrap;
    padding-right: 10px;
}

.footer .contact-info .title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-responsive-small);
    line-height: 28px;
    color: #7A7A7A;
}

.footer .contact-info .social-media-icons-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Links */

.footer a {
    color: black;
}

.footer .stay-connected a {
    font-weight: bolder;
}

.footer .contact-info a {
    text-decoration: none;
}