.header {
    font-style: normal;
    background-color: transparent;
}



.nav {
    /* width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 9999; */
    /* background-color: #282c34; */
    /* min-height: 100vh; */

}

.nav-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;    
    color: white;
}

/* 
=== Dynamic Font Size ===
Min Viewport: 300px
Max Viewport: 1600px
Min FontSize: 15px
Max FontSize: 26px
font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
*/



.nav-container > li {
    list-style: none;
    padding: 10px;
}

.home {
    flex: 1;
    text-align: left;   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1440 - 300)));
    line-height: 29px;
}

.link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1440 - 300)));
    line-height: 22px;
}

a {
    text-decoration: none;
    color: black;
}

.is-active {
    color: #009E78;
    border-bottom: 5px solid #009E78;
    border-bottom-left-radius: 10;
    border-top-left-radius: 10%;
}
