
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: rgba(85, 214, 170, .85);
  --background-about: rgba(241, 253, 247, 1);
  --font-color-about: rgba(0, 158, 120, 1);
  --background-get-help: rgba(247, 246, 255, 1);
  --font-color-get-help: rgba(67, 43, 250, 1);
  --background-give-help: rgba(255, 242, 250, 1);
  --font-color-give-help: rgba(214, 16, 135, 1);
  --background-donate: rgba(255, 246, 240, 1);
  --font-color-donate: rgba(243, 106, 29, 1);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  font-family: 'Montserrat';
  font-weight: 500;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.content {
  /* height: 200vh; */
  background-color: #ffffff;
  /* display: grid; */
  /* place-items: center; */
}
